.registration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: var(--padding);
  border-radius: var(--rounded-3xl);

  background-color: #fff;
}

form p, form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

form p label, form div label {
  font-weight: 600;
}

form div .helptext {
  font-size: 0.8rem;
  color: var(--grey-400);
}

form input[type="submit"] {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}