.add-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  padding: var(--padding);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: var(--rounded-3xl);
}

.add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 42px;
  box-sizing: border-box;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.add-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.add-form form .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.add-form form .field label {
  font-weight: var(--font-weight-semibold);
}

.add-form form .field label.password-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.add-form form .field label.password-label #hidePassword {
  font-size: var(--font-size-sm);
  cursor: pointer;
  color: var(--blue-500);
  user-select: none;
}

.add-form form .field label.password-label #hidePassword:hover {
  text-decoration: underline;
}

.add-form form .form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.add-form .password-generation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.add-form .password-generation span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-sm);
  cursor: pointer;
  color: var(--blue-500);
  user-select: none;
}

.add-form .password-generation span:hover {
  text-decoration: underline;
}

.add-form .password-generation span svg {
  width: 20px;
  height: 20px;
}