.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 700px;
  width: 100%;
  padding: var(--padding);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: var(--rounded-3xl);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.password-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.password-list .password-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: var(--padding);
  border-radius: var(--rounded-md);
  background-color: var(--grey-100);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.password-list .password-item:hover {
  background-color: var(--grey-50);
}

.password-list .password-item h6.name {
  font-size: var(--text-sm);
  color: var(--grey-700);
}

.password-list .password-item h6.website {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-base);
  color: var(--grey-400);
}

.password-list .password-item.no-password {
  justify-content: center;
}