<!--app/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
<style>
  @import '../../static/css/dashboard.css'
</style>
{% if user.is_authenticated %}
  <div class="dashboard-wrapper">
    <div class="dashboard-header">
      <h4>Passwords</h4>
      <button class="primary" onclick="location.href = '/add'">
        Add
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>        
      </button>
    </div>

    <div class="password-list">
      {% if passwords|length > 0 %}
        {% for password in passwords %}
          <div class="password-item" onclick="location.href = '/detail/{{ password.id }}'">
            <h6 class="name">{{ password.name|title }}</h6>
            <h6 class="website">{{ password.website|lower }}</h6>
          </div>
        {% endfor %}
      {% else %}
        <div class="password-item no-password">
          No password yet.
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  Hello, {{ user.username|default:'Guest' }}!
  This is the landing page.
{% endif %}
{% endblock %}