<!--app/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
<style>
  @import '../../static/css/dashboard.css?v={% now "U" %}'
</style>
{% if user.is_authenticated %}
  <div class="dashboard-wrapper">
    <div class="dashboard-header">
      <h4>Passwords</h4>
        <button class="primary" onclick="location.href = '/add'">
          Add
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>        
        </button>
    </div>

    <div class="password-list">
      {% if passwords|length > 0 %}
        {% for password in passwords %}
          <div class="password-item" onclick="location.href = '/detail/{{ password.id }}'">
            <h6 class="name">{{ password.name|title }}</h6>
            <h6 class="website">{{ password.website|lower }}</h6>
          </div>
        {% endfor %}
      {% else %}
        <div class="password-item no-password">
          No password yet.
        </div>
      {% endif %}
    </div>
  </div>
  <div class="csv-support">
    <a id="csvImportLink" href="{% url 'register' %}">Import passwords (.csv)</a>
    |
    <a href="{% url 'exportUserPasswords' %}">Download my data</a>
  </div>


  <div class="import-form" style="display:none">
    <form method="post" id="csvForm" enctype="multipart/form-data" action="{% url 'importUserPasswords' %}">
      {% csrf_token %}
      <input type="file" name="file" id="csvFile" style="" />
      <button type="submit" id="csvSubmit" class="primary" title="Importer au format CSV">
        Send
      </button>
    </form>
  </div>


  <script>
  
    document.getElementById('csvImportLink').addEventListener('click', function(e) {
      e.preventDefault();
      var fileInput = document.getElementById('csvFile');
      fileInput.click();
      fileInput.addEventListener('change', function() {
        document.getElementById('csvForm').submit();
      });
    });
  </script>
{% else %}
  Hello, {{ user.username|default:'Guest' }}!
  This is the landing page.
{% endif %}
{% endblock %}
