<!--app/templates/base.html-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PasswordManager{% endblock %}</title>
    <link rel="icon" href="../../static/img/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../static/img/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../static/img/logo.png" type="image/png">
    

    <link rel="stylesheet" href="../../static/css/reset.css?v={% now "U" %}">
    <link rel="stylesheet" href="../../static/css/vars.css?v={% now "U" %}">
    <link rel="stylesheet" href="../../static/css/style.css?v={% now "U" %}">
    <link rel="stylesheet" href="../../static/css/header.css?v={% now "U" %}">
    <link rel="stylesheet" href="../../static/css/notifications.css?v={% now "U" %}">

</head>
<body>

  {% comment %} notifications block {% endcomment %}

  {% if request.GET.success %}
    <div class="notification-wrapper">
      <div class="notification success">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--green-500)" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
        </svg>
        <p>{{ request.GET.success }}</p>        
      </div>
    </div>
  {% elif request.GET.error %}
    <div class="notification-wrapper">
      <div class="notification error">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--red-600)" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
        </svg>        
        <p>{{ request.GET.error }}</p>
      </div>
    </div>
  {% endif %}

  {% comment %} content block {% endcomment %}
    
  <header>
    <a href="/">
      <img src="../../static/img/logo.svg" alt="logo" class="logo"/>
    </a>
    <div class="menu">
      {% if user.is_authenticated %}
      <p>Hello, {{ user.username }}!</p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="secondary">
          Logout
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
          </svg>            
        </button>
      </form>
        
      {% else %}
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      </ul>
      {% endif %}
    </div>
  </header>

  <main>      
    {% block content %}
    {% endblock %}
  </main>

  <footer>
      <p>&copy; 2023 PasswordManager. All rights reserved.</p>
  </footer>

</body> 
</html>

